{% trans_default_domain 'menu' %}
{% macro menu_item(caption, description, path, parameters, color, icon) %}
    <article class="col-md-2 col-sm-4 col-xs-6 tile">
        <a href="{{ path(path, parameters) }}" title="{{ description | trans }}">
            <div>
                <i class="fa fa-{{ icon }} fa-4x"></i>
            </div>
            <h4>{{ caption | trans }}</h4>
        </a>
    </article>
{% endmacro %}
