// Colocar aquí personalizaciones de Bootstrap y Fontawesome

@import "flatly/variables";
$link-color: $brand-info;
$link-hover-color: lighten($brand-info, 15%);
$navbar-default-link-hover-color: lighten($brand-info, 15%);
$breadcrumb-separator: ">";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "flatly/bootswatch";
@import "../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";


/* Icono de hamburguesa animado */
.navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
  &.collapsed {
    .icon-bar {
      &:nth-of-type(1) {
        transform: rotate(0deg);
        top: 0;
      }
      &:nth-of-type(2) {
        opacity: 1;
        width: 100%;
        margin-left: 0;
      }
      &:nth-of-type(3) {
        transform: rotate(0deg);
        bottom: 0;
      }
    }
  }
  .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;

    &:nth-of-type(1) {
      transform: rotate(45deg);
      top: 6px;
    }
    &:nth-of-type(2) {
      opacity: 0;
      width: 0;
      margin-left: 50%;
    }
    &:nth-of-type(3) {
      transform: rotate(-45deg);
      bottom: 6px;
    }
  }
}


/* Cambiar iconos de Glyphicons por sus equivalentes en Fontawesome */
.glyphicon {
  @extend .fa;

  &.glyphicon-exclamation-sign {
    @extend .fa-exclamation-triangle;
  }
}

/* Botones adaptativos */
@media (max-width: $screen-sm-min) {
  .btn-sm-block {
    width: 100%;
    margin-bottom: 0.1em;
  }
}

/* Separador de meses en el calendario */
th.calendar-month {
    text-align: center;
    font-variant: small-caps;
    background-color: $navbar-default-bg;
    color: $navbar-default-brand-color;
}

/* Barra lateral */
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  height: 100%;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  padding-top: 70px;
  z-index: 1000;
  left: 0;
  width: 220px;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: darken($brand-primary, 15%);
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
  left: 220px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-toggle#sidebar {
  display: inline-block;
}

li.sidebar-brand {
  padding: 0;
  font-size: 125%;
  color: $body-bg;
}

.sidebar-nav>li>a:hover {
  background-color: $brand-primary;
}

li.sidebar-brand>a {
  color: $body-bg;
  &:hover {
    background-color: transparent;
  }
}

.nav>li.active {
  background-color: lighten($brand-primary, 15%);
}

.navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    margin-left: 0;
  }
}