// Colocar aquí personalizaciones de Bootstrap y Fontawesome

@import "lumen/variables";
$breadcrumb-separator: ">";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "lumen/bootswatch";
@import "../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";

.separator:before {
  content: '>';
  padding-left: 0.1em;
  padding-right: 0.1em;
  color: darken($breadcrumb-color, 30%);
}

/* Icono de hamburguesa animado */
.navbar-toggle {
  &:hover, &:focus {
    background-color: transparent;
  }
  &.collapsed {
    .icon-bar {
      &:nth-of-type(1) {
        transform: rotate(0deg);
        top: 0;
      }
      &:nth-of-type(2) {
        opacity: 1;
        width: 100%;
        margin-left: 0;
      }
      &:nth-of-type(3) {
        transform: rotate(0deg);
        bottom: 0;
      }
    }
  }
  .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;

    &:nth-of-type(1) {
      transform: rotate(45deg);
      top: 6px;
    }
    &:nth-of-type(2) {
      opacity: 0;
      width: 0;
      margin-left: 50%;
    }
    &:nth-of-type(3) {
      transform: rotate(-45deg);
      bottom: 6px;
    }
  }
}


/* Cambiar iconos de Glyphicons por sus equivalentes en Fontawesome */
.glyphicon {
  @extend .fa;

  &.glyphicon-exclamation-sign {
    @extend .fa-exclamation-triangle;
  }
}

/* Barra de búsqueda */
input[type="search"]{
  font-family: "FontAwesome", $font-family-sans-serif;
}

/* Botones adaptativos */
@media (max-width: $screen-sm-min) {
  .btn-sm-block {
    width: 100%;
    margin-bottom: 0.1em;
  }
}

/* Separador de meses en el calendario */
th.calendar-month {
    text-align: center;
    font-variant: small-caps;
    background-color: $navbar-default-bg;
    color: $navbar-default-brand-color;
}

/* Barra lateral desplegable de navegación */
#wrapper {
  padding-left: 0;
  height: 100%;
}

#sidebar-wrapper {
  padding-top: 70px;
  z-index: 1000;
  left: 0;
  width: 220px;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
  left: 220px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-toggle#sidebar {
  display: inline-block;
}

li.sidebar-brand {
  padding: 0;
  font-size: 125%;
  color: $brand-primary;
}

p#breadcrumb a.navbar-breadcrumb:hover {
  color: darken($brand-primary, 15%);
}

p#breadcrumb a.navbar-breadcrumb {
  color: $brand-primary;
}

.nav li>a {
  color: $navbar-default-link-color;
}

.navbar li a:focus {
  text-decoration: none;
}

.nav li>a:hover {
  background-color: $navbar-default-bg;
}

.nav li.active, .nav li.active>a:hover {
  background-color: darken($navbar-default-bg, 5%);
}

.nav li.active>a {
  color: darken($navbar-default-link-color, 80%);
}

.nav>li.sidebar-brand>a {
  color:  $brand-primary;
  &:hover {
    background-color: transparent;
  }
}

.navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
}

.navbar-link:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-toggle {
    margin-left: 0;
  }
}

/* Árbol de navegación por la documentación */
@media (min-width: $container-sm) {
  .tree-sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $table-bg-hover;
    border-right: 1px solid $gray-lighter;
  }
}

.tree-message {
  overflow:hidden;
}

a.retired {
  text-decoration: line-through !important;
}

table.table-fixed {
  table-layout: fixed;
  min-width: $screen-md;
}

td.ellipsis-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

td.table-highlight {
  background-color: $table-bg-hover !important;
}
